<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>All post wth the hashtag</title>
    <link href="/assets/icon.png" rel="icon">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/layout.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a class="header__nav-link" href="/">Home</a></div>
            <div class="header__nav-item"><a class="header__nav-link" href="/hashtags">Hashtags</a></div>
        </nav>
    </header>
    <main class="main-content">
            <ul th:each="post: ${hashtags.getPosts()}">
               <li><a th:text="${post.title}" href="#" th:href="'/posts/' + ${post.id}"></a></li>
            </ul>
    </main>
</div>
</body>
</html>
